name: Sync to Mirror Repository
on:
  push:
    branches:
      - main
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Generate GitHub App token
        id: generate-token
        uses: actions/create-github-app-token@bf559f85448f9380bcfa2899dbdc01eb5b37be3a # v3.0.0-beta.2
        with:
          app-id: ${{ secrets.SAMPLE_GITHUB_APP_ID }}
          private-key: ${{ secrets.SAMPLE_GITHUB_APP_CLIENT_SECRET }}
          owner: kaseken
          repositories: github-actions-samples-mirror
      - name: Push to mirror repository
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |
          git config url."https://x-access-token:${GITHUB_TOKEN}@github.com/kaseken/github-actions-samples-mirror.git".insteadOf "https://github.com/kaseken/github-actions-samples-mirror.git"
          git remote add mirror https://github.com/kaseken/github-actions-samples-mirror.git
          git push mirror main
